:root {
  --color-fade: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}
* {
  color: white;
  list-style: none;
}
* a {
  color: white;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  width: 100%;
}
header {
  position: fixed;
  max-height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  transition: 0.4s;
  padding-top: 20px;
  translate: 0 -150px;
}
header.visible {
  top: 0;
  translate: 0;
}
.bg-body-tertiary {
  --bs-bg-opacity: 0;
}
.logo-header {
  width: 100px;
}
li a {
  cursor: pointer;
  font-weight: 500;
  position: relative;
  display: inline-block;
}
li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}
li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bars__menu {
  z-index: 20;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.bars__menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: #9a00bf;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 300ms;
}

.activeline1__bars-menu {
  transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars-menu {
  opacity: 0;
  margin-left: -30px;
}

.activeline3__bars-menu {
  transform: rotate(-45deg) translate(-4px, 2px);
}

.dropdown svg {
  transition: transform 0.5s ease-in-out;
}
.dropdown:hover svg {
  transform: rotate(180deg) rotateY(180deg);
  transition: 0.5s ease-in-out;
}
.dropdown-menu {
  background-color: #5b42f3;
  width: 200px;
  padding: 10px;
}
.dropdown-menu li {
  margin-top: 20px;
}
.nav-contact {
  margin-top: 20px;
}
.navbar-ul {
  display: none;
  transition:transform 0.5s ease-in-out;
  transform: translateX(10px);
  background-color: rgba(33, 32, 32, 0.952);
  border-radius: 20px;
  padding: 10px;
}
@media(max-width:768px){
  div.navbar-ul.show {
    padding-top: 25%;
    display: block;
    position: fixed;
    border-radius: 0;
    height: 1000px;
    max-width: 250px;
    right: 0;
    top: 0;
  }
  .navbar-ul ul div>li{
    padding: 20px;
  }

}
@media (min-width: 768px) {
  .navbar-ul {
    transform: none;
    display: block;
    display: flex;
  }
  .navbar-ul ul{
    justify-content: space-between;
    flex-direction:row;
    
  }
  
  .bars__menu {
    display: none;
  }
  .nav-empresa-servicio {
    margin-left: 5%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 0;
  }
  .nav-contact {
    margin-top: 0;
    display: flex;
    justify-content: center;
  }
}
/* MAIN */
.separacion {
  height: 250px;
}
main .container-fluid.home {
  margin: 0;
  position: relative;
  width: 100%;
  z-index: 4;
  background-image: var(--color-fade);
}
.texto {
  width: 100%;
  position: relative;
  font-size: 28px;
  font-weight: 300;
  padding: 20px;
  border-radius: 20px;
  padding: 20px 10%;
}
.texto h1 {
  font-size: 50px;
  margin: 20px 0px;
}

.servicios {
  width: 100%;
  background-image: var(--color-fade);
  padding: 50px 10%;
}
.servicios h2 {
  font-size: 50px;
}
.card {
  min-height: 600px;
  width: 20rem;
  margin: auto;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.418);
}
.card img {
  padding: 20px 0;
  border-radius: 40px;
  max-height: 243px;
  min-height: 243px;
}
.card h5 {
  color: white;
  font-size: 30px;
}
.card a {
  position: absolute;
  bottom: 20px;
}
