:root{
  --color-fade:linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}
*{
  color: white;
}
* a{
  color: white;
  text-decoration: none;
}
header{
  position:fixed;
  max-height: 60px;
  width: 100%;
  top: 0;
	left: 0;
  z-index: 5;
  transition: 0.4s;
  padding-top: 20px;
  translate: 0 -150px;
}
header.visible{
  top: 0;
  translate: 0;
}
.logo-header{
  width: 100px;
}
button {
  align-items: center;
  background-image: var(--color-fade);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
 }
 
 button:active,
 button:hover {
  outline: 0;
 }
 
 button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
 }
 
 button:hover span {
  background: none;
 }
 
 button:active {
  transform: scale(0.9);
 }
 /* MAIN */
 .separacion{
  height: 250px;
 }
main .container-fluid{
  margin: 0;
  position: relative;
  width: 100%;
  z-index: 4;
  background-image:var(--color-fade);
}
.texto{
  width: 100%;
  position: relative;
  font-size: 28px;
  font-weight: 300;
  padding: 20px;
  border-radius: 20px;
  padding: 20px 15%
}
.texto h1{
  font-size: 60px;
  margin: 20px 0px;
}


.servicios{
  width: 100%;
  background-image: var(--color-fade);
  padding: 50px 15%
}
.servicios  h2{
  font-size: 50px;
}
.card{
  min-height: 600px;
  width: 20rem;
  margin: auto;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.418);
  
}
.card img{
  padding: 20px 0;
  border-radius: 40px;
  max-height: 243px;
  min-height: 243px;
}
.card h5{
  color:white;
  font-size: 30px;
}
.card a{
  position: absolute;
  bottom: 20px;
}