*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
   padding: 0;
}
.image {
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url(./assets/img/fotor_2023-5-28_15_35_37.jpg);
}