.page-servicios * {
  color: black;
}
#subnav-serv {
  position: sticky;
  z-index: 4;
  background-color: white;
  top: 0px;
  margin: 20px 0 20px;
}
#subnav-serv nav ul li {
  display: flex;
  align-items: center;
  height: 35px;
}
#menu-backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.518);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  left: var(--left);
  top: var(--top);
  width: var(--width);
  height: var(--height);
  transition: all 500ms ease-in-out;
  opacity: 0;
  z-index: -10;
}
.image-servicio {
  min-height: 450px;
  background-position: center;
  background-size: cover;
  background-image: url(../../../assets/img/charla-equipo.jpg);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.image-servicio h1 {
  padding: 6% 0;
  font-size: 52px;
  font-weight: 400;
  letter-spacing: -2.08px;
}
.vista-servicio {
  width: 100%;
  min-height: 450px;
}
.carousel {
  padding: 0 0 10px;
}
.carousel-item {
  height: 100%;
}

.subnav {
  cursor: pointer;
  padding: 4px 5px;
}
.container-serv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container-serv img {
  width: 95%;
  margin: auto;
}
.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.des-ns {
  height: 260px;
}
.consultoria {
  overflow-y: scroll;
}
.rr-hh {
  list-style: disc;
  margin: 0 0 0 19px;
}
.link {
  max-width: 136px;
}
@media (max-width: 768px) {
  .carousel-item {
    margin: 10% 10px;
    padding: 0 10px;
  }
  .des-ns {
    height: 336px;
    overflow: scroll;
  }
  .vista-servicio {
    width: 100%;
    min-height: 560px;
  }
  picture {
    margin: 0px 0 10px;
    max-width: 90%;
  }
  .link {
    margin: auto;
  }
}
