.page-servicios * {
  color: black;
}
.image-servicio {
  min-height: 450px;
  background-position: center;
  background-size: cover;
  background-image: url(../../../assets/img/charla-equipo.jpg);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.image-servicio h1 {
  padding: 6% 0;
  font-size: 52px;
  font-weight: 400;
  letter-spacing: -2.08px;
}
.vista-servicio{
    width: 100%;
    height: 500px;
    
}
.carousel-item{
    height: 100%;
    background-color: rgb(101, 90, 90);
}
.subnav{
    border:solid black 2px;
    padding: 10px;
}
